/*

   ____       ___                        __   _         
  /  _/___   / _/___   ____ __ _  ___ _ / /_ (_)____ ___
 _/ / / _ \ / _// _ \ / __//  ' \/ _ `// __// // __/(_-<
/___//_//_//_/  \___//_/  /_/_/_/\_,_/ \__//_/ \__//___/
   ____                                          __     
  / __/____ ___ _ __ _  ___  _    __ ___   ____ / /__   
 / _/ / __// _ `//  ' \/ -_)| |/|/ // _ \ / __//  '_/   
/_/  /_/   \_,_//_/_/_/\__/ |__,__/ \___//_/  /_/\_\    
                                                       


--------------------------------------------------------------------------------

Version:            3.0.0


*/
/* 

================================================================================
=============================       Base           =============================
================================================================================ 

*/
/*

===========================================================================
Base: Normalize
===========================================================================

Version:            3.0.0

Description:        This file is the top of the style sheet. It includes base 
                    styles for defaults for elements. Including a variation
                    of normalize and the defaults for the HTML element. This
                    file is excluded from the wysiwyg render style sheet.

                    Original normalize from "github.com/necolas/normalize.css". 
                    File has been modified to remove duplication and things that 
                    we set or were interfering with framework.

*/
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font: inherit;
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,
select {
  /* 2 */
  overflow: visible;
}
/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0;
}
/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Change the cursor in all browsers (opinionated).
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}
/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
[disabled] {
  cursor: default;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
}
/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*

===========================================================================
Base: HTML / Body
===========================================================================

Version:            3.0.5

// Changes:         3.0.1 | Font settings for HTML is now using regular
//                          styles instead of the mixin which was causing
//                          text sizing issues on a breakpoint
//                  3.0.2 | Updated with typography update
//                  3.0.4 | Added breakpoint stuff for type
//                  3.0.5 | Fixed breakpoint stuff


*/
html {
  font-size: 17px;
  line-height: 1.58;
  font-family: 'Source Sans Pro', sans-serif;
  color: #373637;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-size: 106.25%;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 93.75%;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/*

===========================================================================
Base: Typography
===========================================================================

Version:            3.0.4

Changes:            3.0.2 | Changed <p> to not includes font-size, line-height
                    3.0.4 | Changed from "t-" to "type-"

*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
pre,
code,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  border-width: 0;
  border-style: solid;
  font-weight: inherit;
}
p {
  margin-bottom: 1.58em;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
small {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-size: 0.76470588rem;
  line-height: 1.58;
  margin-bottom: 1.58em;
}
@media screen and (max-width: 1024px) {
  small {
    font-size: 13px;
    font-size: 0.76470588rem;
    line-height: 1.58;
    margin-bottom: 1.58em;
  }
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
b,
strong {
  font-weight: bold;
}
/*

===========================================================================
Base: Image
===========================================================================

Version:            3.0.0

*/
img {
  width: auto;
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
}
/*

===========================================================================
Base: Layout
===========================================================================

Version:            3.0.1

*/
a {
  background-color: transparent;
  text-decoration: none;
  color: #306e7e;
}
a:active,
a:hover {
  outline-width: 0;
}
.links a {
  color: #306e7e;
}
.links a:visited {
  color: purple;
}
.links a:hover {
  color: #1d384c;
}
/*

===========================================================================
Base: Lists
===========================================================================

Version:            3.0.0

*/
ul {
  list-style: none;
}
ol {
  margin-bottom: 20px;
  list-style: decimal outside;
}
ol li {
  margin-bottom: 15px;
  margin-left: 18px;
}
ol ol {
  margin: 15px 0 0 15px;
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
/*

===========================================================================
Base: Tables
===========================================================================

Version:            3.0.0

*/
table {
  border: 1px solid #e6e7e8;
  border-collapse: collapse;
  background-color: #f5f5f6;
  width: 100%;
  text-align: left;
  font-weight: normal;
}
tr {
  border-bottom: 1px solid #e6e7e8;
}
td {
  padding: 10px 15px;
  border-left: 1px solid #e6e7e8;
}
thead {
  color: white;
}
thead th {
  text-align: left;
  padding: 10px 15px;
  background-color: #404041;
  border-left: 1px solid #e6e7e8;
}
thead th:first-child {
  border-left: none;
}
thead th img {
  display: inline;
  margin-left: 4px;
}
thead th h3,
thead th h4,
thead th h5,
thead th h6 {
  margin-bottom: 0;
}
tfoot {
  background-color: #e6e7e8;
}
tbody tr:last-of-type {
  border-bottom: none;
}
td,
tbody th,
tfoot th {
  padding: 10px 15px;
  border-left: 1px solid #e6e7e8;
}
.table-plain {
  border: none;
  border-collapse: collapse;
  background-color: transparent;
  text-align: left;
}
.table-plain th {
  background-color: transparent;
  padding: 10px 20px 10px 0;
  border: none;
}
.table-plain tr {
  border: none;
}
.table-plain td {
  padding: 10px 20px 10px 0;
  border: none;
}
.table-plain tfoot {
  background-color: transparent;
}
.table-plain tbody tr:nth-child(odd) {
  background-color: transparent;
}
.table-plain tbody tr:last-of-type {
  border-bottom: none;
}
.table-striped tbody tr:nth-child(even) {
  background-color: #f1f1f2;
}
.table-striped tbody tr:last-of-type {
  border-bottom: none;
}
.table-shade-first tr td:first-child {
  background-color: #f1f1f2;
}
/*

===========================================================================
Base: Horizontal Rule
===========================================================================

Version:            3.0.0

*/
hr {
  height: 0;
  border: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: visible;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #5e6062;
}
/*

===========================================================================
Base - Layout
===========================================================================

Version:            3.0.5

*/
.section {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  content: 'wowowow';
  min-width: 0;
}
@media screen and (min-width: 1600px) {
  .section {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .section {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.section__escape-margins {
  margin-left: -10%;
  margin-right: -10%;
}
@media screen and (min-width: 1600px) {
  .section__escape-margins {
    margin-left: -60px;
    margin-right: -60px;
  }
}
@media screen and (max-width: 1024px) {
  .section__escape-margins {
    margin-left: -30px;
    margin-right: -30px;
  }
}
.section--fit {
  padding: 0 10% 0 10%;
  min-width: 0;
}
.section--full {
  padding: 0;
  min-width: 0;
}
@media screen and (max-width: 1024px) {
  .section {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
.section__content {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.section__content:before,
.section__content:after {
  content: "";
  display: table;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.section__content:after {
  clear: both;
}
.section__content--full,
.section__content .section__content {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}
.equalheights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.equalheights > li,
.equalheights > div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
/* 

================================================================================
============================      Modules          =============================
================================================================================ 

*/
/*
================================================================================
Module: data-grid
================================================================================

Version:            3.0.0

Description:        This module is used for grid (column) layouts. 
        It uses data-attributes to express the options (see docs).

*/
[data-grid*="columns: 12"] {
  *zoom: 1;
}
[data-grid*="columns: 12"]:before,
[data-grid*="columns: 12"]:after {
  content: "";
  display: table;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
[data-grid*="columns: 12"]:after {
  clear: both;
}
[data-grid*="columns: 12"] > [data-grid-item] {
  min-height: 1px;
  width: 100%;
}
[data-grid*="columns: 12"][data-grid*="gutters-row:"] > [data-grid-item] {
  padding-top: 14px;
  padding-bottom: 14px;
}
[data-grid*="columns: 12"][data-grid*="gutters-row: top"] > [data-grid-item].position--row-last {
  padding-bottom: 0;
}
[data-grid*="columns: 12"][data-grid*="gutters-row: bottom"] > [data-grid-item].position--row-first {
  padding-top: 0;
}
[data-grid*="columns: 12"][data-grid*="gutters-row: fit"] {
  margin-top: -14px;
  margin-bottom: -14px;
}
[data-grid*="columns: 12"][data-grid*="rules-row:"] > [data-grid-item]:after {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #459fb5;
}
[data-grid*="columns: 12"][data-grid*="rules"] > [data-grid-item] {
  position: relative;
}
[data-grid*="columns: 12"][data-grid*="rules-column:"] > [data-grid-item]:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #459fb5;
}
[data-grid*="columns: 12"][data-grid*="rules-column: left"] > [data-grid-item]:before {
  left: -1px;
}
[data-grid*="columns: 12"][data-grid*="rules-column: left"] > [data-grid-item].position--column-first:before {
  content: none;
}
[data-grid*="columns: 12"][data-grid*="rules-column: right"] > [data-grid-item]:before {
  right: -1px;
}
[data-grid*="columns: 12"][data-grid*="rules-column: right"] > [data-grid-item].position--column-last:before {
  content: none;
}
[data-grid*="columns: 12"][data-grid*="rules-column:"][data-grid*="rules-column-ends: true"] > [data-grid-item]:before {
  content: '';
}
[data-grid*="columns: 12"][data-grid*="rules-column-align: gutter"] > [data-grid-item]:before {
  top: 14px;
  bottom: 14px;
}
[data-grid*="columns: 12"][data-grid*="rules-row: top"] > [data-grid-item]:after {
  content: 2px;
  top: -1px;
}
[data-grid*="columns: 12"][data-grid*="rules-row: bottom"] > [data-grid-item]:after {
  content: 2px;
  bottom: -1px;
}
[data-grid*="columns: 12"][data-grid*="rules-row: between"] > [data-grid-item]:after {
  bottom: -1px;
}
[data-grid*="columns: 12"][data-grid*="rules-row: between"] > [data-grid-item].position--row-last:after {
  content: none;
}
[data-grid*="columns: 12"][data-grid*="rules-row-align: gutter"] > [data-grid-item]:after {
  left: 14px;
  right: 14px;
}
[data-grid*="columns: 12"][data-grid*="rules-row-persist: true"] > [data-grid-item]:after {
  content: '';
}
@media screen and (min-width: 1025px) {
  [data-grid*="columns: 12"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-left: -14px;
    margin-right: -14px;
  }
  [data-grid*="columns: 12"] > [data-grid-item] {
    float: left;
    padding-left: 14px;
    padding-right: 14px;
  }
  [data-grid*="columns: 12"][data-grid*="align: middle"] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  [data-grid*="columns: 12"][data-grid*="align: end"] {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  [data-grid*="columns: 12"][data-grid*="align: start"] {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  [data-grid*="columns: 12"][data-grid*="align: stretch-"] > [data-grid-item] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  [data-grid*="columns: 12"][data-grid*="align: stretch-end"] > [data-grid-item] {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  [data-grid*="columns: 12"][data-grid*="gutters: false"] {
    margin-left: 0;
    margin-right: 0;
  }
  [data-grid*="columns: 12"][data-grid*="gutters: false"] > [data-grid-item] {
    padding-left: 0;
    padding-right: 0;
  }
  [data-grid*="columns: 12"][data-grid*="rules-column:"] > [data-grid-item]:before {
    content: '';
  }
  [data-grid*="columns: 12"][data-grid*="rules-row:"] > [data-grid-item]:after {
    content: '';
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 1"] {
    width: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 2"] {
    width: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 3"] {
    width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 4"] {
    width: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 5"] {
    width: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 6"] {
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 7"] {
    width: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 8"] {
    width: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 9"] {
    width: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 10"] {
    width: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 11"] {
    width: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="width: 12"] {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 1"] {
    margin-left: 8.33333333%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 2"] {
    margin-left: 16.66666667%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 3"] {
    margin-left: 25%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 4"] {
    margin-left: 33.33333333%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 5"] {
    margin-left: 41.66666667%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 6"] {
    margin-left: 50%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 7"] {
    margin-left: 58.33333333%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 8"] {
    margin-left: 66.66666667%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 9"] {
    margin-left: 75%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 10"] {
    margin-left: 83.33333333%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 11"] {
    margin-left: 91.66666667%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 12"] {
    margin-left: 100%;
  }
  [data-grid*="columns: 12"] > [data-grid-item*="offset: 0"] {
    margin-left: 0;
  }
}
[data-grid-dense*="columns: 12"] {
  *zoom: 1;
}
[data-grid-dense*="columns: 12"]:before,
[data-grid-dense*="columns: 12"]:after {
  content: "";
  display: table;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
[data-grid-dense*="columns: 12"]:after {
  clear: both;
}
[data-grid-dense*="columns: 12"] > [data-grid-dense-item] {
  min-height: 1px;
  width: 100%;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="gutters-row:"] > [data-grid-dense-item] {
  padding-top: 6px;
  padding-bottom: 6px;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="gutters-row: top"] > [data-grid-dense-item].position--row-last {
  padding-bottom: 0;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="gutters-row: bottom"] > [data-grid-dense-item].position--row-first {
  padding-top: 0;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="gutters-row: fit"] {
  margin-top: -6px;
  margin-bottom: -6px;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-row:"] > [data-grid-dense-item]:after {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #459fb5;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules"] > [data-grid-dense-item] {
  position: relative;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-column:"] > [data-grid-dense-item]:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #459fb5;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-column: left"] > [data-grid-dense-item]:before {
  left: -1px;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-column: left"] > [data-grid-dense-item].position--column-first:before {
  content: none;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-column: right"] > [data-grid-dense-item]:before {
  right: -1px;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-column: right"] > [data-grid-dense-item].position--column-last:before {
  content: none;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-column:"][data-grid-dense*="rules-column-ends: true"] > [data-grid-dense-item]:before {
  content: '';
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-column-align: gutter"] > [data-grid-dense-item]:before {
  top: 6px;
  bottom: 6px;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-row: top"] > [data-grid-dense-item]:after {
  content: 2px;
  top: -1px;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-row: bottom"] > [data-grid-dense-item]:after {
  content: 2px;
  bottom: -1px;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-row: between"] > [data-grid-dense-item]:after {
  bottom: -1px;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-row: between"] > [data-grid-dense-item].position--row-last:after {
  content: none;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-row-align: gutter"] > [data-grid-dense-item]:after {
  left: 6px;
  right: 6px;
}
[data-grid-dense*="columns: 12"][data-grid-dense*="rules-row-persist: true"] > [data-grid-dense-item]:after {
  content: '';
}
@media screen and (min-width: 1025px) {
  [data-grid-dense*="columns: 12"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-left: -6px;
    margin-right: -6px;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item] {
    float: left;
    padding-left: 6px;
    padding-right: 6px;
  }
  [data-grid-dense*="columns: 12"][data-grid-dense*="align: middle"] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  [data-grid-dense*="columns: 12"][data-grid-dense*="align: end"] {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  [data-grid-dense*="columns: 12"][data-grid-dense*="align: start"] {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  [data-grid-dense*="columns: 12"][data-grid-dense*="align: stretch-"] > [data-grid-dense-item] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  [data-grid-dense*="columns: 12"][data-grid-dense*="align: stretch-end"] > [data-grid-dense-item] {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  [data-grid-dense*="columns: 12"][data-grid-dense*="gutters: false"] {
    margin-left: 0;
    margin-right: 0;
  }
  [data-grid-dense*="columns: 12"][data-grid-dense*="gutters: false"] > [data-grid-dense-item] {
    padding-left: 0;
    padding-right: 0;
  }
  [data-grid-dense*="columns: 12"][data-grid-dense*="rules-column:"] > [data-grid-dense-item]:before {
    content: '';
  }
  [data-grid-dense*="columns: 12"][data-grid-dense*="rules-row:"] > [data-grid-dense-item]:after {
    content: '';
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 1"] {
    width: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 2"] {
    width: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 3"] {
    width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 4"] {
    width: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 5"] {
    width: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 6"] {
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 7"] {
    width: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 8"] {
    width: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 9"] {
    width: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 10"] {
    width: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 11"] {
    width: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width: 12"] {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 1"] {
    margin-left: 8.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 2"] {
    margin-left: 16.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 3"] {
    margin-left: 25%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 4"] {
    margin-left: 33.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 5"] {
    margin-left: 41.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 6"] {
    margin-left: 50%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 7"] {
    margin-left: 58.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 8"] {
    margin-left: 66.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 9"] {
    margin-left: 75%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 10"] {
    margin-left: 83.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 11"] {
    margin-left: 91.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 12"] {
    margin-left: 100%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset: 0"] {
    margin-left: 0;
  }
}
@media screen and (min-width: 1025px) {
  [data-grid-dense*="columns: 12"] {
    margin-left: -6px;
    margin-right: -6px;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item] {
    padding-left: 6px;
    padding-right: 6px;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 1"] {
    width: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 2"] {
    width: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 3"] {
    width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 4"] {
    width: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 5"] {
    width: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 6"] {
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 7"] {
    width: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 8"] {
    width: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 9"] {
    width: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 10"] {
    width: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 11"] {
    width: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-medium: 12"] {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 1"] {
    margin-left: 8.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 2"] {
    margin-left: 16.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 3"] {
    margin-left: 25%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 4"] {
    margin-left: 33.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 5"] {
    margin-left: 41.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 6"] {
    margin-left: 50%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 7"] {
    margin-left: 58.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 8"] {
    margin-left: 66.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 9"] {
    margin-left: 75%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 10"] {
    margin-left: 83.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 11"] {
    margin-left: 91.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 12"] {
    margin-left: 100%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-medium: 0"] {
    margin-left: 0;
  }
}
@media screen and (min-width: 1300px) {
  [data-grid-dense*="columns: 12"] {
    margin-left: -6px;
    margin-right: -6px;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item] {
    padding-left: 6px;
    padding-right: 6px;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 1"] {
    width: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 2"] {
    width: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 3"] {
    width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 4"] {
    width: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 5"] {
    width: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 6"] {
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 7"] {
    width: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 8"] {
    width: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 9"] {
    width: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 10"] {
    width: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 11"] {
    width: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="width-large: 12"] {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 1"] {
    margin-left: 8.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 2"] {
    margin-left: 16.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 3"] {
    margin-left: 25%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 4"] {
    margin-left: 33.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 5"] {
    margin-left: 41.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 6"] {
    margin-left: 50%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 7"] {
    margin-left: 58.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 8"] {
    margin-left: 66.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 9"] {
    margin-left: 75%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 10"] {
    margin-left: 83.33333333%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 11"] {
    margin-left: 91.66666667%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 12"] {
    margin-left: 100%;
  }
  [data-grid-dense*="columns: 12"] > [data-grid-dense-item*="offset-large: 0"] {
    margin-left: 0;
  }
}
/* 

================================================================================
=============================     Site CSS        ==============================
================================================================================ 

*/
body:before,
body:after {
  display: none;
}
@media screen and (max-width: 1024px) {
  body:before {
    content: 'secondary';
  }
}
@media screen and (max-width: 1024px) {
  body:before {
    content: 'primary';
  }
}
.h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 37px;
  font-size: 2.17647059rem;
  line-height: 1.3;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  color: inherit;
}
@media screen and (max-width: 1024px) {
  .h2 {
    font-size: 30px;
    font-size: 1.76470588rem;
  }
}
.h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-size: 1.76470588rem;
  line-height: 1.3;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  color: inherit;
}
@media screen and (max-width: 1024px) {
  .h3 {
    font-size: 26px;
    font-size: 1.52941176rem;
  }
}
.h3--colored {
  color: #1E384B;
}
.h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 23px;
  font-size: 1.35294118rem;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .h5 {
    font-size: 20px;
    font-size: 1.17647059rem;
  }
}
.h6 {
  margin-bottom: 1rem;
}
.headline-label {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: #4d4e4f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 23px;
  font-size: 1.35294118rem;
  line-height: 1.3;
}
@media screen and (max-width: 1024px) {
  .headline-label {
    font-size: 20px;
    font-size: 1.17647059rem;
  }
}
.type-large-xx {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 37px;
  font-size: 2.17647059rem;
  line-height: 1.58;
}
@media screen and (max-width: 1024px) {
  .type-large-xx {
    font-size: 30px;
    font-size: 1.76470588rem;
    line-height: 1.58;
  }
}
.type-large-x {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-size: 1.76470588rem;
  line-height: 1.58;
}
@media screen and (max-width: 1024px) {
  .type-large-x {
    font-size: 26px;
    font-size: 1.52941176rem;
    line-height: 1.58;
  }
}
.type-large {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 23px;
  font-size: 1.35294118rem;
  line-height: 1.58;
}
@media screen and (max-width: 1024px) {
  .type-large {
    font-size: 20px;
    font-size: 1.17647059rem;
    line-height: 1.58;
  }
}
.type-base {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-size: 1rem;
  line-height: 1.58;
}
@media screen and (max-width: 1024px) {
  .type-base {
    font-size: 15px;
    font-size: 0.88235294rem;
    line-height: 1.46;
  }
}
.type-small {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-size: 0.76470588rem;
  line-height: 1.58;
}
@media screen and (max-width: 1024px) {
  .type-small {
    font-size: 13px;
    font-size: 0.76470588rem;
    line-height: 1.58;
  }
}
.type-small-x {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  font-size: 0.64705882rem;
  line-height: 1.58;
}
@media screen and (max-width: 1024px) {
  .type-small-x {
    font-size: 11px;
    font-size: 0.64705882rem;
    line-height: 1.58;
  }
}
.type-max-width {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
}
.type-dense {
  line-height: 1.3;
}
.short-rule {
  width: 3.5rem;
  background-color: white;
  background-color: #79BFCA;
  height: 3px;
  margin: 1.25rem 0 1.25rem 0;
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .short-rule {
    margin: 1rem 0 1rem 0;
  }
}
.rule {
  border-top: 1px solid #cccccc;
  margin-top: 2rem;
  padding-top: 2rem;
}
ul {
  list-style: outside disc;
  padding-left: 1em;
  margin-bottom: 20px;
}
ul > li {
  margin-bottom: 1em;
}
a:not([class]) {
  text-decoration: underline;
}
a:not([class]):hover {
  color: #1d384c;
}
p {
  margin-bottom: 1.3em;
}
.button {
  display: inline-block;
  background-color: #fcc16b;
  padding: 0.8em 2.5em;
  border-radius: 20px;
  color: #1d1d1d;
  border: none;
  text-decoration: none;
  line-height: 1;
}
.button:visited {
  color: #1d1d1d;
}
.button:hover {
  background-color: #fbb652;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  color: #040304;
}
.section-icon {
  padding-top: 0;
}
.section-icon__image {
  height: 6.5rem;
  width: auto;
  margin: -2.3rem auto 1rem auto;
}
.page__intro {
  text-align: center;
  background-color: #459fb5;
  color: #262626;
  padding-bottom: 9.45rem;
}
.page__intro .short-rule {
  background-color: currentColor;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}
@media screen and (max-width: 1024px) {
  .page__intro {
    text-align: left;
  }
}
.page__columns {
  padding-top: 0;
  margin-top: -7rem;
  padding-bottom: 100px;
}
.page__column {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  height: 100%;
  padding: 1.3rem;
  padding-bottom: 2.5rem;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
}
.page__highlight {
  position: relative;
  text-align: center;
  background-color: #faa62c;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #262626;
}
.page__highlight .h3 {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .page__highlight {
    text-align: left;
  }
}
.page__highlight-logo {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 6rem;
  width: auto;
}
.page__logo {
  display: inline-block;
  max-width: 15em;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1024px) {
  .page__logo {
    max-width: 13em;
  }
}
.page__logo--icon-only {
  max-width: 6em;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .page__logo--icon-only {
    max-width: 5em;
  }
}
.page__footer-content {
  max-width: 1000px;
}
.page__footer-image {
  max-width: 18rem;
}
.webinar {
  background-color: #3eaa8b;
  background: -webkit-gradient(linear, left top, left bottom, from(#3eaa8b), color-stop(50%, #3eaa8b), color-stop(50%, white));
  background: linear-gradient(#3eaa8b, #3eaa8b 50%, white 50%);
}
.webinar__content {
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
}
.webinar__title {
  display: block;
  font-weight: normal;
  color: #196a7b;
  margin-bottom: 1rem;
}
.webinar__title:hover {
  color: #006faf;
}
.webinar__description {
  max-width: 45rem;
}
@media screen and (min-width: 1025px) {
  .webinar__description {
    padding-right: 5vw;
  }
}
@media screen and (min-width: 1025px) {
  .webinar__aside-headline {
    margin-top: 3rem;
  }
}
/* 

================================================================================
=======================  Bottom of Stylesheet (Mixin)  =========================
================================================================================ 

*/
.type-light {
  font-weight: 300;
}
.type-normal {
  font-weight: normal;
}
.type-semibold {
  font-weight: 600;
}
.type-italic {
  font-style: italic;
}
.type-bold {
  font-weight: bold;
}
.type-center {
  text-align: center;
}
.type-left {
  text-align: left;
}
.type-right {
  text-align: right;
}
.type-upper {
  text-transform: uppercase;
}
.type-lower {
  text-transform: lowercase;
}
.type-title {
  text-transform: capitalize;
}
.breakwords {
  -ms-word-break: normal;
  word-break: normal;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.breakwords-all {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.hide,
.element-hidden {
  display: none;
}
.show,
.block {
  display: block;
}
@media screen and (max-width: 1024px) {
  .hide--break-primary {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .show--break-primary {
    display: block;
  }
}
.inline-block,
.inline-block-child div,
.inline-block-child li,
.inline-block-child ul,
.inline-block-child span {
  display: inline-block;
}
.inline,
.inline-left,
.inline-right,
.inline-child div,
.inline-child li,
.inline-child ul,
.inline-child span {
  display: inline;
}
.inline-left {
  text-align: left;
}
.inline-right {
  text-align: right;
}
.float-left {
  float: left;
  max-width: 100%;
}
.float-right {
  float: right;
  max-width: 100%;
}
.clear {
  clear: both;
}
.center,
.images-center img {
  margin-left: auto;
  margin-right: auto;
}
.images-center img {
  display: block;
}
.full-width,
.images-full-width img {
  display: block;
  width: 100%;
  height: auto;
  clear: both;
}
.full-height {
  height: 100%;
}
.align-top {
  vertical-align: top;
}
.align-mid {
  vertical-align: middle;
}
.align-btm {
  vertical-align: bottom;
}
.pos-r {
  position: relative;
}
.valign-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.valign-tbl {
  display: table;
  width: 100%;
}
.valign-tbl .valign-tbl-row {
  display: table-row;
}
.valign-tbl .valign-tbl-cell {
  display: table-cell;
  vertical-align: middle;
}
.valign-inl {
  font-size: 0.001px;
}
.valign-inl:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.valign-inl-middle,
.valign-inl-btm {
  display: inline-block;
  max-width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-size: 1rem;
}
.valign-inl-middle {
  vertical-align: middle;
}
.valign-inl-btm {
  vertical-align: bottom;
}
.no-bg-clip {
  background-clip: padding-box;
}
/*

===========================================================================
Base: Utilities
===========================================================================

Version:            3.0.2

//                  3.0.2 Clearfix flexbox properties

*/
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.cf:after {
  clear: both;
}
.hidden-visually,
.hide-v {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.hidden-visually.focusable:active,
.hide-v.focusable:active,
.hidden-visually.focusable:focus,
.hide-v.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.unhide-text {
  text-indent: 0;
  white-space: normal;
}
.hidden-abs {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
.hidden-abs-no {
  position: static;
  left: auto;
  top: auto;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  cursor: pointer;
}
.no-scroll-y {
  overflow-y: hidden;
}
.no-scroll-x {
  overflow-x: hidden;
}
/*

===========================================================================
Base: Print
===========================================================================

Version:            3.0.0

*/
@media print {
  .no-print {
    display: none;
  }
  * {
    background: transparent !important;
    color: black !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  /*a[href]:after {
      content: " (" attr(href) ")";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
      content: "";
    }*/
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*thead {
    display: table-header-group;
  }*/
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  #print-btn {
    display: none;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=styles.css.map */
