<footer class="section">
  <div class="section__content page__footer-content">
    <div data-grid="columns: 12">
      <div data-grid-item="width: 8">
        <p>
          <strong>The Homeless and Housing Resource Center</strong> is a program developed under grant 1H79SM083003-01 from the Substance Abuse and Mental Health Services Administration (SAMHSA), U.S. Department of Health and Human Services (HHS). Interviews, policies, and opinions expressed are those of the authors and do not necessarily reflect those of SAMHSA or HHS.
        </p>
      </div>
      <div data-grid-item="width: 4">
        <a target="_blank" href="https://www.samhsa.gov/">
          <img class="page__footer-image" src="images/samhsa-logo.png" alt="SAMHSA">
        </a>
      </div>
    </div>
  </div>
</footer>