<header class="page__intro section">
  <div class="section__content type-max-width">
    <img class="page__logo" src="images/logo.png" alt="HHRC Logo">
    <h1 class="h2">Welcome to the {{ site.title }}</h1>
    <div class="short-rule"></div>
    <p class="type-large type-dense">
      Providing high-quality, no-cost training for health and housing professionals in evidence-based practices that contributes to housing stability, recovery, and an end to homelessness.
    </p>
  </div>
</header>