<div class="page__anchors section">
  <div class="section__content">
    <div data-grid="columns: 12">
      <div data-grid-item="width: 4">
        <div class="card card--in-grid">
          <div class="card__body wysiwyg">
            <h2 class="h3 h3--colored">About Us</h2>
            <div class="short-rule"></div>
            <p>
              HHRC was established in August 2020 with funding from the Substance Abuse and Mental Health Services Administration (SAMHSA). Operated by <a href="https://policyresearchinc.org/" target="_blank">Policy Research, Inc.</a>, HHRC works in partnership with national experts in homelessness, mental health, and substance use services to develop up-to-date, comprehensive toolkits, webinars, and self-paced online trainings.
            </p>
            
          </div>
          <div class="card__footer">
            <a class="page__anchors-link" href="#about-us">
              Learn More
              <i class="fas fa-angle-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div data-grid-item="width: 4">
        <div class="card card--in-grid">
          <div class="card__body wysiwyg">
            <h2 class="h3 h3--colored">Our Work</h2>
            <div class="short-rule"></div>
            <p>
              HHRC will provide training on housing and treatment models focused on adults, children, and families who are experiencing or at risk of homelessness who have: 
            </p>
            <ul>
              <li>Serious mental illness and/or serious emotional disturbance</li>
              <li>Substance use disorders</li>
              <li>Co-occurring disorders</li>
            </ul>
          </div>
          <div class="card__footer">
            <a class="page__anchors-link" href="#our-work">
              Learn More
              <i class="fas fa-angle-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div data-grid-item="width: 4">
        <div class="card card--in-grid">
          <div class="card__body wysiwyg">
            <h2 class="h3 h3--colored">Join Us</h2>
            <div class="short-rule"></div>
            {% include "common/listserv-signup.twig" %}
            <p>
              For general questions, please email us at: <a target="_blank" href="mailto:info@hhrctraining.org">info@hhrctraining.org</a>
            </p>
          </div>
          <div class="card__footer">
            <a class="page__anchors-link" href="#join-us">
              Learn More
              <i class="fas fa-angle-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>