<div class="page__highlight section">
  <img class="page__highlight-logo" src="images/logo-icon-only.png" alt="HHRC Logo Icon">
  <div class="section__content">
    <p class="h3 type-max-width">
      {{ site.highlight }}
    </p>
  </div>
</div>