<div class="page__highlight section">
  <img class="page__highlight-logo" src="images/logo-icon-only.png" alt="HHRC Logo Icon">
  <div class="section__content">
    <p class="h3 type-max-width">
      We’re excited to bring you cutting-edge training related to housing and homelessness beginning in December 2020.
    </p>
  </div>
</div>