<div class="section" id="join-us">
  <div class="section__content">
    <div class="type-center">
      <h2 class="h2 h2--colored">Join Us</h2>
      <div class="short-rule short-rule--large-gap"></div>
    </div>
    <div data-grid="columns: 12; gutters-row: true;">
      <div data-grid-item="width: 8">
        <div class="page__padded-body" style="max-width: none">
          <div class="card">
            <script type="text/javascript" src="{{ site.joinUs.formScriptLink }}"></script>
          </div>
        </div>
      </div>
      <div data-grid-item="width: 4">
        <h3 class="h5">
          HHRC <span class="type-upper">Listserv</span>
        </h3>
        {% include "common/listserv-signup.twig" %}
      </div>
    </div>
  </div>
</div>