<div class="our-work" id="our-work">
  <div class="our-work__header section">
    <div class="section__content type-center">
      <h2 class="h2 h2--colored">Our Work</h2>
      <div class="short-rule short-rule--large-gap"></div>
    </div>
  </div>
  <div class="our-work__tabs-list-wrap tabs section section--fit">
    <div class="tabs__list our-work__tabs-list section__content" role="tablist">
      <button class="tabs__toggle" aria-selected="true" aria-controls="tabpanel-webinars">
        <img class="graphic-icon" src="images/icon-webinar.svg" alt="" role="presentation">
        Webinars
      </button>
      <button class="tabs__toggle" aria-controls="tabpanel-toolkits">
        <img class="graphic-icon" src="images/icon-toolkit.svg" alt="" role="presentation">
        Toolkits
      </button>
      <button class="tabs__toggle" aria-controls="tabpanel-newsletters" disabled>
        <img class="graphic-icon" src="images/icon-newsletter.svg" alt="" role="presentation">
        Newsletters
      </button>
      <button class="tabs__toggle" aria-controls="tabpanel-articles" disabled>
        <img class="graphic-icon" src="images/icon-article.svg" alt="" role="presentation">
        Articles
      </button>
    </div>
  </div>
  <div class="our-work__tabs-panels-wrap section section--fit ">
    <div class="tabs__panels section__content">
      <div class="tabs__panel" id="tabpanel-webinars" role="tabpanel">
        {% include "views/webinars.twig" %}
      </div>
      <div class="tabs__panel" id="tabpanel-toolkits" role="tabpanel">
        {% include "views/toolkits.twig" %}
      </div>
      <div class="tabs__panel" id="tabpanel-newsletters" role="tabpanel">
        <!-- No Content -->
      </div>
      <div class="tabs__panel" id="tabpanel-articles" role="tabpanel">
        <!-- No Content -->
      </div>
    </div>
  </div>
</div>