<div class="webinar section">
  <div class="webinar__content section__content section-icon">
    <img class="section-icon__image" src="images/icon-webinar.svg" role="presentation" alt="">
    <div data-grid="columns: 12">
      <div data-grid-item="width: 8">
        <div class="webinar__description page__padded-body">
          <h2 class="headline-label">Upcoming Webinar</h2>
          <a class="webinar__title h3" href="https://prainc.zoom.us/webinar/register/WN_dcgcQEYHRWuNawefEMAoWA" target="_blank">
            Street Medicine for Unsheltered Individuals: Serving People Where They Are
          </a>
          <p>
            <strong class="type-large">June 24, 3:00-4:30pm ET</strong>
          </p>
          <p>
            According to HUD’s Annual Homeless Assessment Report (AHAR), over 225,000 people experienced unsheltered homelessness on a single night in 2020. Of those individuals, twenty-five percent self-reported having a serious mental illness or chronic substance use condition. Join SAMHSA’s Homeless and Housing Resource Center as our panelists explore the benefits of incorporating mobile psychiatry with street outreach. Participants will learn about the street medicine model and the importance of utilizing a multi-disciplinary team to strengthen continuity of care and housing stability for the unsheltered population.
          </p>
          {# <p>
            <em>The National Council for Behavioral Health and National Health Care for the Homeless Council contributed to the development of this webinar. </em>
          </p>
          <p>
            <a class="button" href="files/hhrc-march-2021.zip" target="_blank" download="HHRC Webinar - March 2021.zip">Download Resources</a>
          </p> #}
        </div>
      </div>
      <div class="wysiwyg" data-grid-item="width: 4">
        <h3 class="webinar__aside-headline h5"><b>Speakers</b></h3>
        <ul>
          <li>Aislinn Bird, MD, MHP, Psychiatrist, Co-founder of StreetHealth, Alameda County Health Care for the Homeless</li>
          <li>Brett H. Feldman, PA-C, Vice Chair, International Street Medicine Institute, Director, USC Family Medicine Division of Street Medicine, Assistant Professor of Family Medicine Keck School of Medicine of USC</li>
          <li>Wilma Lozada, Community Health Outreach Worker and Social Worker, Alameda County Health Care for the Homeless</li>
          <li>Lawrence Lincoln, Former Street Medicine Patient</li>
        </ul>
        <h3 class="rule h5">Webinar Registration</h3>
        <p>
          <a class="button" href="https://prainc.zoom.us/webinar/register/WN_dcgcQEYHRWuNawefEMAoWA" target="_blank">
            Register Now
          </a>
        </p>
      </div>
    </div>
  </div>
</div>